<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MyStore">

    <uses-permission android:name="android.permission.CAMERA"
                     android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_inventory_2_black_18dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStore">
        <activity android:name="com.example.MyStore.InventoryActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.MyStore.DetailActivity"
            android:theme="@style/Theme.MyStore"
            android:parentActivityName="com.example.MyStore.InventoryActivity" >
            <!-- Parent activity meta-com.example.MyStore.data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MyStore.InventoryActivity" />
        </activity>
        <provider
            android:authorities="com.example.MyStore"
            android:name="com.example.MyStore.data.StoreProvider"
            android:exported="false"/>
    </application>







</manifest>